<h1>Cadastrar nova reserva</h1>

<%= form_with(model: @reservation, url: inn_dashboard_inns_reservations_path) do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name%>
    </div>
    <div>
        <%= f.label :start_date %>
        <%= f.text_field :start_date%>
    </div>
    <div>
        <%= f.label :end_date %>
        <%= f.text_field :end_date %>
    </div>
    <div>
        <%= f.submit 'Cadastrar reserva'%>
    </div>
<% end %>